@using Microsoft.AspNet.Identity
@model List<TeamProject_Forum_ASP_NET.Entities.Question>

@{
    ViewBag.Title = "ListQuestionsByCategory";
}

<div class="container">
    <div class="row">
        @foreach (var question in Model)
        {
            <div class="col-sm-offset-2 col-sm-8">
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@question.Title, "ViewAnswers", "Question", new { @id = question.Id }, null)
                        </h2>
                    </header>
                    <footer>
                        <small>
                            @{
                                var imgUrl = Url.Content("~/Content/Images/ProfilePhotos/" +question.Author.UserName + ".png") + "?time=" + DateTime.Now.ToString();
                            }
                            <img src="@imgUrl" height="50" width="50" alt="Profile Picture"/>
                        </small>
                        <small>
                            --author @question.Author.UserName
                        </small>      
                        <small>--posted on @question.DateAdded</small>
                        <small>-- @question.ViewCount Views</small>
                        <small>-- @question.Answers.Count Answers</small>
                        <div>
                            @foreach (var tag in question.Tags)
                            {
                                <span>@Html.ActionLink(tag.Name, "ListQuestionsByTag", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })</span>
                            }
                        </div>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>