@using PagedList
@using PagedList.Mvc

@model IPagedList<TeamProject_Forum_ASP_NET.Models.ApplicationUser>

@{
    ViewBag.Title = "RankList";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @Html.Action("ListCategories", "Home")
        </div>
        <div class="col-md-8">
            @foreach (var user in Model)
            {
                <div class="row well">
                    <div class="col-md-2">

                        <img src="@user.ProfilePhotoPath" height="75" width="75" alt="Profile Photo" style="margin-top:30px" />

                    </div>

                    <div class="col-md-10">
                        <header>
                            <h3>
                                @user.UserName
                            </h3>
                        </header>
                        <div>
                            <div>Full Name: @user.FullName</div>
                            <div>Email: @user.Email</div>
                            <div>Posts Count: @user.PostsCount</div>
                        </div>
                    </div>
                </div>
            }
            @Html.PagedListPager(Model, page => Url.Action("RankList", "Home", new { page }),
               new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        </div>
    </div>
</div>
