@using PagedList
@using PagedList.Mvc

@model IPagedList<TeamProject_Forum_ASP_NET.ViewModels.RankUserViewModel>

@{
    ViewBag.Title = "RankList";
}

<div class="container">
    <div class="row">
        @foreach (var user in Model)
        {
        <div class="col-sm-offset-2 col-sm-8">
            <div>
                <header>
                    <h3>
                        @user.Username
                    </h3>
                </header>
                <div>
                    <div>Full Name: @user.FullName</div>
                    <div>Email: @user.Email</div>
                    <div>Posts Count: @user.PostsCount</div>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="row col-sm-offset-2">
        @Html.PagedListPager(Model, page => Url.Action("RankList", new { page }),
               new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
    </div>
</div>
