@model TeamProject_Forum_ASP_NET.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<div class="row">
    <h2>Search</h2>
    @using (Html.BeginForm("SearchResult", "Search", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Query, new { @class = "form-control" })
            </div>
        </div>

            <div class="form-group">
                <div class="col-sm-4">
                    @Html.CheckBoxFor(m => m.Title)
                    @Html.LabelFor(m => m.Title)
                    @Html.CheckBoxFor(m => m.Content)
                    @Html.LabelFor(m => m.Content)
                    @Html.CheckBoxFor(m => m.Tag)
                    @Html.LabelFor(m => m.Tag)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4">
                    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Search" class="btn btn-success" />
                </div>
            </div>
    }
</div>
